.container-product__cart {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  display: flex;
  gap: 12px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  padding: 8px;
  position: relative;

  .image-product__cart {
    width: 100px;
    height: 100%;
    
    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info-product__cart {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    position: relative;

    .controller-quantity {
      position: absolute;
      bottom: 0;
      display: flex;
      gap: 8px;
      align-items: center;
    
      svg {
        color: var(--black-color-o3);
      }
    }

    p {
      font-size: 1.2rem;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      max-width: 150px;
    }

    h1 {
      font-size: 1rem;
    }
  }

  .controller-product__cart {
    width: 28px;
    height: 28px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: white;
    }
  }
}