.home {
  color: black;
}

.container-section__cart {
  display: flex;
  gap: 48px;
  padding: 20px;
  padding-top: 200px;
  background-color: white;
  position: relative;
}
.container-section__cart .product-discount__cart {
  position: absolute;
  width: 100%;
  height: 80%;
  border-radius: 5px;
  background: white;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-section__cart .product-discount__cart button {
  padding: 12px 24px;
  border: none;
  background: var(--black-color-o2);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.container-section__cart .product-discount__cart button:hover {
  opacity: 0.9;
}
.container-section__cart .product-discount__cart input {
  max-width: 500px;
}
.container-section__cart .left-side__cart, .container-section__cart .right-side__cart {
  width: 100%;
  padding: 30px 0;
}
.container-section__cart .left-side__cart h4 {
  padding-bottom: 48px;
  font-size: 1.5rem;
  font-weight: 600;
}
.container-section__cart .left-side__cart p {
  color: var(--black-color-o5);
}
.container-section__cart .left-side__cart .product-side__cart {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.container-section__cart .quicly-resume__cart.carted {
  margin-top: 64px;
}
.container-section__cart .quicly-resume__cart.carted p {
  cursor: pointer;
}
.container-section__cart .right-side__cart {
  display: flex;
  flex-direction: column;
}
.container-section__cart .right-side__cart input {
  margin: 64px 0 32px 0;
}
.container-section__cart .right-side__cart h2 {
  margin-bottom: 24px;
}
.container-section__cart .right-side__cart .quicly-resume__cart {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 0px;
}
.container-section__cart .right-side__cart .quicly-resume__cart .resume-cart {
  width: 100%;
  display: flex;
  margin-top: 32px;
}
.container-section__cart .right-side__cart .quicly-resume__cart .resume-cart h1, .container-section__cart .right-side__cart .quicly-resume__cart .resume-cart a {
  flex: 1;
  text-align: center;
}
.container-section__cart .right-side__cart .quicly-resume__cart .resume-cart h1 {
  font-weight: 500;
  color: var(--black-color-o5);
}
.container-section__cart .right-side__cart .quicly-resume__cart .resume-cart button {
  width: 100%;
  background: var(--primary-color-o1);
  transition: all 0.3s ease-in-out;
  color: var(--primary-color-o5);
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 12px;
}
.container-section__cart .right-side__cart .quicly-resume__cart .resume-cart button:hover {
  background: var(--primary-color-o5);
  color: white;
}
.container-section__cart .right-side__cart .quicly-resume__cart h4 {
  opacity: 0.6;
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 24px;
}
.container-section__cart .right-side__cart .button {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.until-cart {
  margin: 0 auto;
  max-width: 600px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.until-cart .mid-until__cart {
  width: 100%;
  border: 1px solid red;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 24px;
}
.until-cart .mid-until__cart .info-until__cart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
.until-cart .mid-until__cart .info-until__cart h1 {
  font-weight: 500;
}
.until-cart .mid-until__cart .info-until__cart svg {
  width: 40px;
  height: 40px;
}
.until-cart .mid-until__cart p {
  padding-bottom: 24px;
}
.until-cart a {
  color: black;
}

@media screen and (max-width: 800px) {
  .container-section__cart {
    flex-direction: column;
  }
  .container-section__cart .left-side__cart h1 {
    padding-bottom: 24px;
  }
  .container-section__cart .right-side__cart .quicly-resume__cart .resume-cart {
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */