.section-side__cart {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100vh;
  background: white;
  z-index: 9999999;
  display: flex;
  align-items: center;
  justify-content: center;

  .product-discount__cart {
    position: absolute;
    margin-top: 60px;
    input {
      border: 1px solid #e3e3e3;
      width: 100%;
      padding: 12px;
      border-radius: 5px;
    }
  }

  .content-side__cart {
    max-width: 1162px;
    width: 100%;
    display: flex;
    gap: 48px;
    position: relative;

    .content-close__cart {
      position: absolute;
      top: 0px;
      right: 0;
      display: flex;
      align-items: center;
      gap: 4px;
      cursor: pointer;
      padding: 8px 12px;
      transition: all 0.6s ease-in-out;
      border-radius: 5px;

      h1 {
        font-size: 1.2rem;
        font-weight: 500;
      }

      svg {
        transition: all 0.6s ease-in-out;
        width: 28px;
        height: 28px;
      }
    }

    .content-close__cart:hover {
      background: var(--primary-color-o1);
      svg {
        color: var(--primary-color-o5);
      }
    }


    .left-side__cart, .right-side__cart {
      flex: 1;
    }

    .left-side__cart {
      .form {
        padding-bottom: 48px;
      }

      .payment-method__cart {
        h3 {
          font-size: 1rem;
          font-weight: 500;
          color: var(--black-color-o4);
          padding-bottom: 12px;
        }
      }

      .logo {
        padding-bottom: 48px;
      }

      .info-contact__cart {
        h3 {
          color: var(--black-color-o4);
          font-size: 1rem;
          font-weight: 500;
          padding-bottom: 12px;
        }
      }
    }

    .right-side__cart {
      
      .quicly-resume__cart {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4 {
          color: var(--black-color-o5);
        }

        h3 {
          color: var(--black-color-o6);
        }
      }

      .product-container__cart {
        h3 {
          font-size: 1.5rem;
          padding: 4px 0;
          padding-bottom: 48px;
        }
      }
    }
  
  }
}

@media screen and (max-width: 768px) {
  .section-side__cart {
    position: fixed;
    top: 120px;
    height: 100%;
    z-index: 99999999;
    .content-side__cart {
      border: 1px solid red;
      padding: 0 20px;
      flex-direction: column;
      overflow: auto;
      width: 100%;
    }
  }

  .right-side__cart {
    .quicly-resume__cart {
      width: 100%;
    }
  }
}