.home {
  color: black;
}

.container-section__cart {
  display: flex;
  gap: 24px;
  padding: 20px;
  padding-top: 200px;
  background-color: white;

  .left-side__cart, .right-side__cart {
    width: 100%;
    padding: 30px 0;
  }

  .left-side__cart {
    h2 {
      padding-bottom: 24px;
    }

    .product-side__cart {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }

  .right-side__cart {
    h2 {
      margin-bottom: 30px;
    }

    .quicly-resume__cart {
      display: flex;
      width: 100%;
      justify-content: space-between;

      h4 {
        opacity: 0.6;
        font-weight: 500;
        font-size: 1.2rem;
      }
    }

    .button {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}


@media screen and (max-width: 800px) {
  .container-section__cart {
    flex-direction: column;
  
    .left-side__cart {
      h1 {
        padding-bottom: 24px;
      }
    }
  }
}