.container-whatsapp {
  position: fixed;
  bottom: 24px;
  right: 20px;
  z-index: 999999999;
  cursor: pointer;

  .content-whatsapp {
    background: #34af23;
    padding: 18px;
    border-radius: 100%;

    svg {
      padding-top: 2px;
      width: 24px;
      height: 24px;
      color: white;
    }
  }
}