.container-product__page {
  width: 100%;
  margin: 200px auto 0 auto;
  scroll-behavior: smooth;
}
.container-product__page .content-product__page {
  display: flex;
  gap: 24px;
  position: relative;
}
.container-product__page .content-product__page .bottom-images {
  position: absolute;
  height: 60px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  top: 12px;
  left: 12px;
}
.container-product__page .content-product__page .bottom-images img {
  cursor: pointer;
  display: block;
  width: 60px;
  border-radius: 5px;
}
.container-product__page .content-product__page .bottom-images img.active {
  border: 6px solid white;
}
.container-product__page .content-product__page .rightside-product__page,
.container-product__page .content-product__page .leftside-product__page {
  flex: 1;
}
.container-product__page .content-product__page .leftside-product__page {
  display: flex;
  gap: 24px;
  overflow-x: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
  max-height: 700px;
  width: 100%;
}
.container-product__page .content-product__page .leftside-product__page img {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.container-product__page .content-product__page .rightside-product__page .bradcrumb {
  display: flex;
  gap: 12px;
  align-items: center;
  color: var(--black-color-o4);
  margin-bottom: 12px;
}
.container-product__page .content-product__page .rightside-product__page .bradcrumb svg {
  max-width: 14px;
}
.container-product__page .content-product__page .rightside-product__page .bradcrumb h1 {
  color: var(--black-color-o5);
  font-size: 0.8rem;
  font-weight: 500;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page {
  margin-bottom: 40px;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page h1 {
  font-size: 1.5rem;
  color: var(--black-color-o6);
  margin-bottom: 4px;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page .evaluation {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 12px;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page .evaluation .icons-star {
  display: flex;
  gap: 4px;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page .evaluation .icons-star svg {
  color: var(--primary-color-o5);
  max-width: 18px;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page .description-product__page {
  scroll-behavior: smooth;
  font-size: 1rem;
  font-weight: 400;
  display: flex;
  gap: 12px;
  align-items: center;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page .description-product__page p {
  color: var(--black-color-o5);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 350px;
}
.container-product__page .content-product__page .rightside-product__page .info-product__page .description-product__page a {
  color: black;
  font-weight: 500;
}
.container-product__page .content-product__page .rightside-product__page .buy-product__page {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px;
}
.container-product__page .content-product__page .rightside-product__page .buy-product__page .price-product__page {
  display: flex;
  gap: 12px;
  align-items: center;
}
.container-product__page .content-product__page .rightside-product__page .buy-product__page .price-product__page h1 {
  color: var(--primary-color-o5);
  padding-bottom: 4px;
}
.container-product__page .content-product__page .rightside-product__page .buy-product__page .price-product__page p {
  color: var(--black-color-o4);
  text-decoration: line-through;
}
.container-product__page .content-product__page .rightside-product__page .discount-product__page {
  margin-bottom: 24px;
}
.container-product__page .content-product__page .rightside-product__page .discount-product__page p {
  font-size: 0.85rem;
}
.container-product__page .content-product__page .rightside-product__page .freight {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.container-product__page .content-product__page .rightside-product__page .freight h1 {
  font-weight: 500;
  font-size: 0.85rem;
}
.container-product__page .content-product__page .rightside-product__page .freight svg,
.container-product__page .content-product__page .rightside-product__page .freight img {
  max-width: 24px;
  max-height: 24px;
}
.container-product__page .content-product__page .rightside-product__page .freight .item-frete {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 40px;
}
.container-product__page .content-product__page .rightside-product__page .select-product__page {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.container-product__page .content-product__page .rightside-product__page .select-product__page .size-product__page,
.container-product__page .content-product__page .rightside-product__page .select-product__page .quantity-product__page {
  display: flex;
  align-items: center;
}
.container-product__page .content-product__page .rightside-product__page .select-product__page .size-product__page *,
.container-product__page .content-product__page .rightside-product__page .select-product__page .quantity-product__page * {
  flex: 1;
}
.container-product__page .content-product__page .rightside-product__page .select-product__page .infoquantity-product__page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 4px;
}
.container-product__page .content-product__page .rightside-product__page .select-product__page .infoquantity-product__page h3 {
  display: flex;
  justify-content: center;
}
.container-product__page .content-product__page .rightside-product__page .select-product__page .infoquantity-product__page svg {
  color: var(--black-color-o4);
}
.container-product__page .content-product__page .rightside-product__page .buttonbuy-product__page {
  margin-top: 48px;
  display: flex;
  gap: 12px;
}
.container-product__page .content-product__page .rightside-product__page .buttonbuy-product__page #button-wpp {
  background: #25D366;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
.container-product__page .content-product__page .rightside-product__page .buttonbuy-product__page button {
  width: 100%;
  padding: 12px;
  border: none;
  background: var(--primary-color-o5);
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.container-product__page .content-product__page .rightside-product__page .buttonbuy-product__page button img {
  max-width: 24px;
  max-height: 24px;
}
.container-product__page .content-product__page .rightside-product__page .buttonbuy-product__page button:hover {
  opacity: 0.9;
}

#info-desc {
  padding: 200px 0 0 0;
}

.container-info__products {
  display: flex;
  overflow-x: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.container-info__products h3 {
  font-size: 1rem;
  font-weight: 500;
  color: var(--black-color-o5);
  max-width: 800px;
}
.container-info__products .left-side,
.container-info__products .right-side {
  width: 100%;
  flex-shrink: 0;
}
.container-info__products .left-side .title,
.container-info__products .right-side .title {
  padding-bottom: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.container-info__products .left-side .title h1,
.container-info__products .right-side .title h1 {
  padding: 0;
  font-size: 1.5rem;
  color: var(--black-color-o6);
}
.container-info__products .left-side .title p,
.container-info__products .right-side .title p {
  cursor: pointer;
}
.container-info__products .left-side .title p:hover,
.container-info__products .right-side .title p:hover {
  color: var(--black-color-o3);
}

.relational-products {
  margin: 120px auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 12px;
}
.relational-products h1 {
  padding: 24px 0;
  font-weight: 600;
  font-size: 1.25rem;
}

@media screen and (max-width: 834px) {
  .info-product__page {
    flex-direction: column;
  }
  .select-inputs {
    flex-direction: column;
  }
  .select-inputs select {
    width: 100%;
  }
}
@media screen and (max-width: 680px) {
  .left-side__content img {
    max-height: 400px;
  }
}
@media screen and (max-width: 860px) {
  .container-product__page .content-product__page {
    flex-direction: column;
  }
  .container-product__page .content-product__page .buttonbuy-product__page {
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */