.container-section__frete {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid var(--black-color-o3);
  border-radius: 5px;
  margin: 30px 0;
  padding: 24px;
  gap: 12px;

  .item-frete {
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: 0.865rem;
      font-weight: 600;
      max-width: 250px;
      color: var(--black-color-o6);
    }
  }

  img, svg {
    max-width: 28px;
    max-height: 28px;
  }
}

@media screen and (max-width: 982px) {
  .container-section__frete {
    grid-template-columns: 1fr;
  
    .item-frete {
      display: flex;
      width: 100%;
      padding: 24px;
      align-items: center;
      justify-content: start;

      svg {
        min-width: 24px;
        min-height: 24px;
      }

      h1 {
        max-width: 80%;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container-section__frete {

    .item-frete {
      padding: 12px;
      align-items: center;
      justify-content: start;

      svg {
        min-width: 24px;
        min-height: 24px;
      }

      h1 {
        max-width: 80%;
      }
    }
  }
}