.container-singleproduct__cart {
  width: 100%;
  display: flex;
  gap: 24px;
  height: 80px;
  align-items: center;
  margin: 30px 0;

  .left-sideproduct__cart {
    max-width: 80px;
    height: 100%;

    img {
      border-radius: 5px;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .right-sideproduct__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .left-side {
      h1 {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--black-color-o6);
        max-width: 12ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      
      h4 {
        font-size: 1rem;
        padding: 0;
        margin: 0;
        color: var(--black-color-o5);
      }
    }

    .right-side {
      padding: 12px;
      border-radius: 5px;
      background: var(--primary-color-o2);
      transition: all 0.6s ease-in-out;
      cursor: pointer;

      svg {
        color: var(--primary-color-o5);
      }

    }
    
    .right-side:hover {
      background: var(--primary-color-o5);
      
      svg {
        color: var(--primary-color-o2);
      }
    }
  }
}