:root {
    --primary-color-o1: #FFF1EF;
    --primary-color-o2: #FFDBD7;
    --primary-color-o3: #FFB7B0;
    --primary-color-o4: #FF9388;
    --primary-color-o5: #FF6F61;

    --black-color-o1: #EAEEF5;
    --black-color-o2: #E0E3EB;
    --black-color-o3: #BFC4CC;
    --black-color-o4: #87909B;
    --black-color-o5: #545C65;
    --black-color-o6: #1E2832;
}