.container-single__product {
  width: 100%;
  min-width: 260px;
  max-width: 300px;
  flex-shrink: 0;
  border-radius: 5px;
  cursor: pointer;

  .content-single__product {
    padding: 8px;

    .image-single__product {
      max-width: 350px;
      height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 12px;
      border-radius: 5px;
    }

    .info-single__product {
      margin-bottom: 12px;
      p {
        margin-bottom: 4px;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        color: var(--black-color-o5);
      }

      h1 {
        font-size: 1.25rem;
        color: var(--black-color-o6);
      }
    }

    .button-single__product {
      width: 100%;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        width: 100%;
        gap: 4px;
        border: none;
        cursor: pointer;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 15px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.06em;
      }

      button:hover {
        opacity: 0.8;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container-single__product {
    flex-shrink: 1;
  }
}