.container-single__product {
  width: 100%;
  min-width: 260px;
  max-width: 300px;
  flex-shrink: 0;
  border-radius: 5px;
  cursor: pointer;
  z-index: 1;

  .content-single__product {
    padding: 8px;

    .image-single__product {
      max-width: 350px;
      height: 300px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      margin-bottom: 12px;
      border-radius: 5px;
    }

    .info-single__product {
      margin-bottom: 12px;

      .price {
        display: flex;
        gap: 12px;
        align-items: center;

        span {
          font-size: 0.85rem;
          color: var(--black-color-o4);
          text-decoration: line-through;
        }
      }

      p {
        margin-bottom: 4px;
        font-size: 1rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        color: var(--black-color-o5);
      }

      h1 {
        font-size: 1.25rem;
        color: var(--black-color-o6);
      }
    }

    .button-single__product {
      width: 100%;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px 0;
        width: 100%;
        gap: 4px;
        border: none;
        cursor: pointer;
        background: var(--primary-color-o5);
        color: white;
        border-radius: 15px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);

        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.06em;

        img, svg {
          max-width: 24px;
          color: white;
        }
          
      }

      button:hover {
        opacity: 0.9;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .container-single__product {
    max-width: 280px;
  }
}