.principal-container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 0;
    position: fixed;
    top: 40px;
    right: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 999999999;

    .left-side__header, .right-side__header, .mid-side__header {
        flex: 1;
    }

    .left-side__header {
        h3 {
            font-size: 1rem;
        }

        h3:hover {
            cursor: pointer;
        }

        .isOpen {
            color: white;
        }
    }

    .mid-side__header {
        width: 100%;
        align-items: center;
        justify-content: center;
        height: 80px;
        max-width: 600px;

        input {
            align-self: center;
            display: block;
            width: 100%;
            border-bottom: 0;
            border: 1px solid black;
            margin-top: 18px;
        }
        
        .name_interprise {
            margin: 0 auto;
            background: var(--black-color-o2);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 80px;
            border-radius: 50%;
            text-align: center;
            font-size: 1.25rem;
            color: var(--black-color-o6);
        }
    }

    .right-side__header {
        display: flex;
        gap: 24px;
        justify-content: end;
    }

    .right-icon__header {
        outline: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 15px;
        gap: 12px;
        padding: 10px;
        z-index: 999;
        background: transparent;
        display: flex;
        gap: 12px;

        img {
            max-width: 24px;
            max-height: 24px;
        }

        a svg {
            max-width: 24px;
            max-height: 24px;
            transition: all 0.3s ease-in-out;
            color: var(--black-color-o6);
        }
        
        svg:hover {
            color: var(--primary-color-o5);
        }

        .contador {
            position: relative;
            top: -6px;
            right: 22px;
            height: 16px;
            width: 16px;
            border-radius: 5px;
            font-size: 12px;
            display: flex;
            font-weight: bold;
            align-items: center;
            justify-content: center;
            background: var(--primary-color-o5);
            color: white;
        }
    }
}