.container-input__search {
  width: 100%;
  
  z-index: 999999;
  input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid var(--black-color-o3);
    max-width: 600px;
  }
  
  textarea:focus, input:focus{
    border: none;
    outline: none;
}

  .container-product__search {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    position: fixed;
    top: 80px;
    max-width: 600px;
    width: 100%;
  }
}